<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <title>CeroACC</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css" rel="stylesheet">

</head>
<body>
<div class="container">
    <div th:replace="~{menu :: navegacion}"></div>
    <div class="container">

    <section class="row pt-4" id="inicio">
        <h2>Bienvenido a CeroACC</h2>
        <p>Somos una empresa líder en el campo de la asesoría en prevención de riesgos. Nuestro objetivo es proporcionar soluciones efectivas y personalizadas para garantizar la seguridad y el bienestar de tu organización.</p>
        <p>Contamos con un equipo altamente calificado de profesionales en prevención de riesgos que están comprometidos en ayudarte a identificar y mitigar cualquier riesgo potencial en tu entorno laboral.</p>
    </section>

    <section id="servicios">
        <h3>Nuestros servicios de asesoría en prevención de riesgos</h3>

        <h4>1. Evaluación de riesgos y elaboración de planes de prevención</h4>
        <p>Nuestro equipo de expertos realizará una exhaustiva evaluación de los riesgos presentes en tu entorno laboral. Analizaremos los procesos, las instalaciones y las condiciones de trabajo para identificar posibles peligros y evaluar su probabilidad e impacto. Con base en estos hallazgos, desarrollaremos planes de prevención personalizados para tu organización, que incluirán medidas y acciones concretas para minimizar o eliminar los riesgos detectados.</p>

        <h4>2. Capacitación y formación en prevención de riesgos laborales</h4>
        <p>Reconocemos la importancia de la capacitación en la prevención de riesgos laborales. Ofrecemos programas de formación diseñados para educar y concienciar a tus empleados sobre los riesgos específicos de su entorno de trabajo. Nuestros expertos impartirán cursos teóricos y prácticos, adaptados a las necesidades de tu empresa y cumpliendo con las normativas vigentes. Promovemos una cultura de seguridad en tu organización, equipando a tus colaboradores con los conocimientos y habilidades necesarios para prevenir accidentes y mantener un entorno laboral seguro.</p>

        <h4>3. Auditorías de seguridad y cumplimiento normativo</h4>
        <p>Realizamos auditorías de seguridad exhaustivas para evaluar el cumplimiento de las normativas y regulaciones en materia de prevención de riesgos laborales. Nuestro equipo analizará tus políticas, procedimientos y prácticas existentes, verificando su alineación con las leyes y regulaciones aplicables. Identificaremos áreas de mejora y te proporcionaremos recomendaciones concretas para asegurar el cumplimiento normativo y minimizar los riesgos asociados.</p>

        <h4>4. Implementación de medidas de prevención y protección</h4>
        <p>Apoyamos en la implementación de medidas de prevención y protección específicas para tu empresa. Trabajaremos estrechamente contigo para diseñar e implementar controles y salvaguardias adecuados, como sistemas de señalización, equipos de protección personal, medidas ergonómicas y soluciones tecnológicas. Nuestro objetivo es garantizar que tu entorno laboral esté equipado con las medidas necesarias para prevenir accidentes y proteger la salud y seguridad de tus empleados.</p>
    </section>

    </div>
   <div th:replace="~{footer :: footer}"></div>
</div>
<script src="/js/jquery-3.7.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
</body>
</html>